doctype html

html
  head
    title Falcor Demo
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

  body
    section.container#content
      div.row
        div.col-sm-12
          div.jumbotron
            h1 Falcor Tester
            
      div.row
        div.col-sm-12
          div#demo

      div.row
        div#query

    script(src="/bundle.js")
